<!-- Start Landing Page Image -->
      <div class="landing">
        <div class="home-wrap">
          <div class="home-inner">


          </div>
        </div>
      </div>

      <!-- End Landing Page Image -->

      <!-- Start Landing Page Caption -->
      <div class="caption center-block text-center">
        <div class="os-animation" data-animation="bounceInUp" data-delay=".3s">
          <h1>Cooking with VITO CORLEONE</h1>
        </div>
        <div class="os-animation" data-animation="bounceInUp" data-delay=".6s">
          <h3>An unimposing little building in the heart of Little Italy</h3>
        </div>
        <div class="os-animation" data-animation="bounceInUp" data-delay=".9s">
          <a href="#features" class="btn btn-outline-light btn-lg">Get Started</a>
        </div>
      </div>
      <!-- End Landing Page Caption -->
        <!-- BOUNCING DOWN ARROW -->
        <a class="down-arrow" href="#features">
          <div class="arrow bounce d-none d-md-block">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </div>
        </a>

  </div>
    <!-- End Home Section -->

    <!-- Start Features Section -->
      <div id="features" class="offset">
        <!-- Start Animation -->
        <div class="os-animation" data-animation="fadeInUp">
          <div class="narrow text-center">
            <div class="col-12">
              <h1>The Corleone Family</h1>
              <p class="lead">The Corleone crime family (pronounced Corr-lee-oni) is one of the Five Families operating in New York and in other parts of the United States. The family was formed by Vito Corleone, who fronted his operations by starting the Genco Olive Oil Company.</p>
              <a href="#contact" class="btn btn-secondary btn-sm">Vito Corleone</a>
              <a href="#portfolio" class="btn btn-turquoise btn-sm">Genco Abbandando</a>
            </div>
          </div>
        </div>
        <!-- End Animation -->

        <!-- Start Jumbotron -->
        <div class="jumbotron">
          <div class="narrow">
            <div class="os-animation" data-animation="fadeInUp">
              <h3 class="heading">Features</h3>
              <div class="heading-underline"></div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="os-animation" data-animation="fadeInLeft">
                  <div class="feature">
                    <span class="fa-layers fa-4x">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-mobile-alt fa-inverse" data-fa-transform="shrink-6 right-.25"></i>
                    </span>
                    <h3>Immobiliare</h3>
                    <p>Michael Corleone bought a large block of stock, becoming the company's largest single shareholder.</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="os-animation" data-animation="fadeInUp">
                  <div class="feature">
                    <span class="fa-layers fa-4x">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-globe-americas fa-inverse" data-fa-transform="shrink-4 #"></i>
                    </span>
                    <h3>Territory</h3>
                    <p>Manhatten, Brooklyn, The Bronx, Long Beach, Las Vegas, Reno, Miami</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="os-animation" data-animation="fadeInRight">
                  <div class="feature">
                    <span class="fa-layers fa-4x">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-users fa-inverse" data-fa-transform="shrink-7 left-1.75"></i>
                    </span>
                    <h3>Allies</h3>
                    <p>Tommasino Clan, Zaluchi Family, Molinari Family, Falcone Family, Bocchicchio Clan, Roth Syndicate, Clemenza Clan</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="os-animation" data-animation="fadeInLeft">
                  <div class="feature">
                    <span class="fa-layers fa-4x">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-dice fa-inverse" data-fa-transform="shrink-7 left-2.5 up-.75"></i>
                    </span>
                    <h3>Activities</h3>
                    <p>Racketeering, Conspiracy, Gambling, Drug Trafficking, Bribery, Extortion, Contract Killing</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="os-animation" data-animation="fadeInUp">
                  <div class="feature">
                    <span class="fa-layers fa-4x">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-skull-crossbones fa-inverse" data-fa-transform="grow-5 #" style="color:white"></i>
                    </span>
                    <h3>Rivals</h3>
                    <p>Barzini Family, Tattaglia Crime Family</p>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-4">
                <div class="os-animation" data-animation="fadeInRight">
                  <div class="feature">
                    <span class="fa-layers fa-4x">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-trophy fa-inverse" data-fa-transform="shrink-7 left-1"></i>
                    </span>
                    <h3>Activities</h3>
                    <p>Counterfeiting, Fencing, Hijacking, Loan Sharking, Money Laundering, Murder, Fraud, Prostitution, Political Corruption </p>
                  </div>
                </div>
              </div>
            </div> <!-- End Row -->
          </div> <!-- End Narrow -->
        </div>
        <!-- End Jumbotron -->

        <!-- Start Fixed Background IMG Dark -->
        <div class="fixed-background">
          <div class="row dark">
            <div class="col-12 os-animation" data-animation="fadeInUp">
              <h3 class="heading">Our Oils</h3>
              <div class="heading-underline"></div>
            </div>
            <div class="col-md-4">
              <div class="os-animation" data-animation="fadeInLeft">
                <h3>Roasted Garlic Oil</h3>
                <div class="feature">
                  <span class="fa-layers fa-3x">
                    <i class="fa fa-tint"></i>
                  </span>
                  <p class="lead"> perfect blend of oils extracted from fresh and roasted garlic</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="os-animation" data-animation="fadeInUp">
                <h3>Jalapeno Olive Oil</h3>
                <div class="feature">
                  <span class="fa-layers fa-3x">
                    <i class="fas fa-fire"></i>
                  </span>
                  <p class="lead">Crisp green jalapeno peppers are pressed together with Arizona olives </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="os-animation" data-animation="fadeInRight">
                <h3>Meyer Lemon Olive Oil</h3>
                <div class="feature">
                  <span class="fa-layers fa-3x">
                    <i class="far fa-lemon"></i>
                  </span>
                  <p class="lead"> perfect blend of oils extracted from fresh and roasted garlic</p>
                </div>
              </div>
            </div>
          </div> <!-- End of Row Dark -->
          <div class="fixed-wrap">
            <div id="fixed"></div>
          </div>
        </div>
        <!-- End Fixed Background IMG Dark -->
      </div>
      <!-- End Features Section -->
