dark knight
vasily
petrichor

background: #BA8B02;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #181818, #BA8B02);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #181818, #BA8B02); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #ba8b02; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ba8b02, #181818); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ba8b02, #181818);


  <% @products.all.each do |product| %>
  <div class="col-sm-6 col-md-3">
    <div class="os-animation" data-animation="bounceInLeft" data-delay=".2s">
      <div class="portfolio-item">
        <%= link_to product do %>
          <%= image_tag(product.image.url) if product.image? %>
        <% end %>
        <a href="img/portfolio/oil.jpg" data-lightbox="example-set" data-title="My Portfolio Image Description">
          <img src="img/portfolio/oil.jpg" alt="oil" class="example-image">
        </a>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  </div>


  <div class="input-group w-100 mb-4">
                <input name="items" type="number" value="1" class="form-control form-control-lg detail-quantity">
                <div class="input-group-append flex-grow-1">
                  <button type="submit" class="btn btn-dark btn-block"> <i class="fa fa-shopping-cart mr-2"></i>Add to Cart</button>
                </div>
              </div>

********************************************
PHOTO EDITORS:
https://www4.lunapic.com
https://pinetools.com

SHOPPING CART SITES:
https://jedrekdomanski.wordpress.com/2017/07/11/building-a-shopping-cart-in-ruby-on-rails-part-2/
https://github.com/howardmann/Tutorials/blob/master/Rails_Shopping_Cart.md
https://medium.com/@kennethteh90/how-to-build-a-basic-e-commerce-store-909f2893be71

STRIPE TUTS:
https://rubygarage.org/blog/how-to-integrate-stripe-checkout-in-rails-app
https://sloboda-studio.com/blog/how-to-use-stripe-in-ruby-on-rails-app/
https://www.engineyard.com/blog/keeping-your-rails-controllers-dry-with-services

https://stripe.com/docs/payments/checkout

https://mkdev.me/en/posts/how-to-use-new-stripe-checkout-with-ruby-on-rails-application


RAILS CREDENTIALS FOR RAILS 5.2
https://medium.com/cedarcode/rails-5-2-credentials-9b3324851336

STRIPE-RAILS GEM TUT:
https://www.airpair.com/ruby-on-rails/posts/adding-stripe-to-rails-with-webhooks
WHENEVER GEM:
https://github.com/javan/whenever
