@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
$warningcolor:gold;
.btn-warning {
  @include button-variant($warningcolor, darken($warningcolor, 7.5%), darken($warningcolor, 10%), lignten($warningcolor, 5%), lighten($warningcolor, 10%), darken($warningcolor, 30%));
}
.btn-ouline-warning {
  @include button-outline-variant($warningcolor, #8C6A08, lighten($warningcolor,5%), $warningcolor);
}

// body {
//   height: 100%;
//   background: url('bg8.png') no-repeat center center;
//   background-size: cover;
//
// }


body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  height: 100%;
  /* background-color: #F3F3EB; */
}

/* Nav Scrolling Offset */
.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}

/* Extra Bootstrap column padding */
[class*="col-"] {
  padding: 1rem;
}
/* NAVIGATION */
.navbar {
  /* background-color: #F3F3EB; */
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
}
.navbar-brand img {
  // margin-top: 1rem;
}
.svg-inline--fa.fa-w-14 {
  color: #DDC096;
  font-size: 1.6rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: #E5A384;
  padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #89833C;
}
.navbar.solid {
  background: rgba(0,0,0, 0.7)!important;
  transition: background-color 1s ease 0s;
}
#logo {
  color: #E69656;
  font-weight: 400;
  line-height: 1.2;
  font-size: 2rem;
}

/* LANDING PAGE */

.home-inner {
  // height: 100vh;
  background: url('bg8.png');
  // background-size: cover;
  // background-position: center center;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
}
.caption h1 {
  color: #DDC096;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  color: #CDB7A5;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}
.btn-lg {
  color: #DDC096;
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;

}
.btn-lg:hover {
  color: #CDB7A5;
}

/* FEATURES */
.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-sm {
  border-width: medium;
  border-radius: 0;
  padding: .5rem 1.1rem;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-turquoise {
  border-color: #E69656;
  background-color: #E69656;
  color: #F3F3EB;
}
.btn-turquoise:hover,
.btn-turquoise:focus {
  border-color: #E5A384;
  background-color: #E5A384;
  color: #F3F3EB;
}
.btn-secondary {
  border-color: #89833C!important;
  background-color: #89833C!important;
  color: #F3F3EB!important;
}
.btn-secondary:hover,
.btn-secondary:focus {
    border-color: #E69656!important;
    background-color: #E69656!important;
    color: #F3F3EB!important;
}
.btn-tan {
    border-color: #DDC096;
    background-color: #DDC096;
    color: #F3F3EB;
}
.btn-tan:hover,
.btn-tan:focus {
    border-color: #E69656;
    background-color: #E69656;
    color: #F3F3EB;
  }

.jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  padding: 1rem 0 3rem;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #E5A384;
  margin: 0 auto 2rem;

}
.feature {
  text-align: center;
}
.feature .fa-layers {
  color: #E69656;
  height: 6rem;
  margin: 0 auto;
  width: 3.9rem;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}

/* FIXED BACKGROUND IMAGE DARK */

#fixed {
  background-image: url('oils1.jpg');
  z-index: -1;
}
.dark {
  background-color: rgba(0,0,0,0.75);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000!important;
}
.dark h3, .dark p {
  color: #DDC096;
}

/* Sign up/in pages */


.sign-up {
  background-color: #756213;
background-image: -webkit-linear-gradient(bottom right, #756213 0%, #000000 74%);
background-image: -o-linear-gradient(bottom right, #756213 0%, #000000 74%);
background-image: linear-gradient(to top left, #756213 0%, #000000 74%);
background-size: cover;
height: 100vh;

}
// .sign-up {
//   background-color: #a55c1b;
// background-image: -webkit-linear-gradient(bottom right, #a55c1b 0%, #000000 74%);
// background-image: -o-linear-gradient(bottom right, #a55c1b 0%, #000000 74%);
// background-image: linear-gradient(to top left, #a55c1b 0%, #000000 74%);
// background-size: cover;
// height: 100vh;
// }
// .sign-up {
//   background-color: #ffeaa7;
// background-image: -webkit-linear-gradient(bottom right, #ffeaa7 0%, #000000 74%);
// background-image: -o-linear-gradient(bottom right, #ffeaa7 0%, #000000 74%);
// background-image: linear-gradient(to top left, #ffeaa7 0%, #000000 74%);
// background-size: cover;
// height: 100vh;
// }

.sign-up-card {
  align-items: center;
  width: 35rem;
  height: 45rem;
}
.login-title {
  color: #8C6A08;
}
.btn-outline-gold {
  color: #8C6A08;
  border-color: #8C6A08;
}

/* CONTACT / FOOTER SECTION */

// #contact {
//   padding-top: 35px;
// }
footer {
  background: url('vito4.jpg')no-repeat;
  background-size: cover;
  color: white;
}
footer .row {
  background-color: rgba(57, 63, 70, 0.85);
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 2rem;
  margin: 1.5rem 0;
}
footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
  color: #E5A384!important;
}
footer svg.svg-inline--fa:hover {
  color: #E69656!important;
}
footer span {
  color: #E69656;
}
footer h3 {
  text-transform: uppercase;
  margin: 1.5rem 0;
}

/*-- Contact Form --*/
.form-group {
  margin-bottom: 1.3rem;
}
.form-control {
  background-color: #53595f;
  border-radius: 0;
  border: .15rem solid #666b71;
  color: white!important;
  font-size: 1.1rem;
}
.form-control:focus {
  background: #59595f;
  border: .15rem solid #666b71;
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #b2b5b8!important;
}
input.btn {
  cursor: pointer;
}
hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}
