<div class="content-container">
  <div class="col-md-6 layout-image">
    <%= image_tag(@product.image.url, alt: 'image') if @product.image? %>
  </div>
  <div class="col-md-6 layout-right">
    <div class="prod-title">
      <h1 class="display-3"><%= @product.name %></h1>
    </div>
  </div>
</div>
