<!-- Start contact Section -->
    <div id="contact" class="offset">
      <footer>
        <div class="row">
          <div class="col-md-5">
            <span><%= image_tag('logoTransparent2.png', alt: 'logo') %>Genco Pura Oil Company</span>
            <p>Genco Pura was a front for the Corleone crime family's criminal activities and its more shady operations were carried out by Salvatore Tessio and Peter Clemenza. The company became incredibly successful during the 1930s, after defeating Salvatore Maranzano in an event that would later be known as the Olive Oil War, named after the company.</p>
            <strong>Our Location</strong>
            <p>514 Mott Street<br>Little Italy<br>New York, New York 10012</p>
            <strong>Contact Info</strong>
            <p>(888)888-8888<br>GencoPura@OliveOil.com</p>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
          <div class="col-md-7">
            <h3>Contact Us</h3>

            <form action="contact.php" id="contact-form" method="post">
              <div class="messages"></div>
              <div class="controls">
                <div class="form-group">
                  <input type="text" id="form_name" name="name" class="form-control" placeholder="Enter your name" required="required">
                </div>
                <div class="form-group">
                  <input type="email" name="email" class="form-control" id="form_email" placeholder="Enter your email address" required="required">
                </div>
                <div class="form-group">
                  <textarea id="form_message" name="message" class="form-control" placeholder="Add your message" required="required" rows="5"></textarea>
                </div>
                <input type="submit" class="btn btn-outline-light btn-sm" value="Send Message">
              </div>
            </form>
          </div>
          <hr class="socket">&copy; Genco Pura Oil Company
        </div>  <!-- End Row -->
      </footer>  <!-- End footer -->
    </div>
    <!-- End contact Section -->
